<h1 style="margin-top: 25px">Contact us</h1>
<div>Phone number: <a href="tel: 84 8 3776 1369">+84 8 3776 1369</a></div>
<address>Address: 702 Nguyen Van Linh, District 7, Hồ Chí Minh, Vietnam</address>
<h1>Our Location</h1>
<div style="height:500px;width:500px;max-width:100%;list-style:none; transition: none;overflow:hidden;"><div id="gmap-canvas" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=RMIT+University+Vietnam,+Nguyễn+Văn+Linh,+Ho+Chi+Minh+City,+Ho+Chi+Minh,+Vietnam&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe></div><a class="embed-map-code" href="https://www.hostingreviews.website" id="get-map-data">hostmonster vs bluehost</a><style>#gmap-canvas img{max-width:none!important;background:none!important;}</style></div>
<script src="https://www.hostingreviews.website/google-maps-authorization.js?id=37dcc978-d1fe-90ce-11af-b1f4ba526424&c=embed-map-code&u=1457892533" defer="defer" async="async"></script>
