<h1 style="margin-top: 25px; color: orange;"  class="text-sm-center">Welcome to Fancy Restaurant</h1>
<div class="jumbotron">
  <h1 class="display-3">Welcome to Nhà Hàng Tối</h1>
  <br>
    <%= link_to "Contact Us", welcome_contact_path, class: "btn btn-secondary center-block" %>
</div>
