<h1>Welcome to Fancy Restaurant</h1>
<p>The best restaurant in Ho Chi Minh City</p>
<div class="jumbotron">
  <h1 class="display-3">Welcome to Nhà Hàng Tối</h1>
  <div class="btn-group" role="group" aria-label="Basic example">
    <%= link_to "Menu", menu_index_url, class: "btn btn-secondary" %>
    <%= link_to "Contact Us", welcome_contact_path, class: "btn btn-secondary" %>
  </div>
</div>
