<%= render 'shared/errors', obj: @order %>

<% if current_page?(controller: 'orders', action: 'new') || request.original_url == '/orders/create' %>
  <style>
    body {
      background: url(/assets/order2.jpg) no-repeat center center fixed;
      background-attachment: fixed;
     -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
       background-size: cover;
      background-repeat: no-repeat;
    }
  </style>
<% end %>

<h1 class="text-sm-center" id="form_order" style="">New Order</h1>

<%= render 'form' %>

